* {
	margin: 0;
	border: 0;
	padding: 0;
}

.portrait {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 100%;
	width: 200px;
	height: 200px;
}

.nameLogo {
	margin: 10px;
	font-family: 'Neuton', serif;
	font-weight: 700;
}

.navbar-default {
	background-color: rgba(0,0,0,0);
	border: 0;
	color: white;
	margin-top: 60px;
	font-family: 'Neuton', serif;
	z-index: 1;
	border-radius: 0;
}

.navbar-default a {
	color: #FFF !important;
}
.navbar-default a:hover {
	color: #1C2A4D !important;
	background-color: #FFF !important;
}

.navbar-default .navbar-nav > .active a, 
.navbar-default .navbar-nav > .active a:hover, 
.navbar-default .navbar-nav > .active a:focus {
      color: #1C2A4D !important;
      background-color: #FFF;
 }

.clickMore {
	position: absolute;
	bottom: 0px;
	left: 35%;
	color: #33B5E5;
}

.clickMore:hover {
	color: #FF8800;
}

.placeholder {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.faceBlock {
	width: 100%;
	height: 100%;
	background-image: url("../images/backFront.jpg");
	background-size: cover;
	padding-top: 200px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}

.faceBlock h1, h4 {
	text-align: center;
	color: white;
	text-shadow: 0 0 8px #1C2A4D;
	font-family: 'Neuton', serif;
}

.faceBlock h1 {
	font-weight: 700;
}

.bodyBlock {
	width: 100%;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 0;
	background-color: white;
	transform: translateZ(-1px)
}

.aboutMe {
	padding-top: 40px;
	padding-bottom: 40px;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFFFFF;
}

.projects {
	padding-top: 40px;
	padding-bottom: 40px;
	margin-left: 0;
	margin-right: 0;
	width: 100%;
	text-align: center;
	background-color: #FFFFFF;
}

h1 {
	text-align: center;
	font-weight: 700;
	font-family: 'Neuton', serif;
}

p {
	text-align: center;
	font-family: 'Neuton', serif;
	font-size: 14pt;
}

hr {
	max-width: 800px;
}

a:hover {
	text-decoration: none;
}

.pBlock {
	width: 300px;
	height: 400px;
	margin: 10px;
	padding: 10px;
	border: 1px solid #33B5E5;
	display: inline-block;
	position: relative;
	vertical-align: top;
}

.pBlock h3 {
	text-align: center;
	font-weight: 700;
	font-family: 'Neuton', serif;
	color: #33B5E5;
}

.inside {
	color: #33B5E5;
}

.inside:hover {
	color: #FF8800;
	text-decoration: none;
}

/* Bootstrap modifiers */

.affix {
	margin-top: 0;
	width: 100%;
	background-color: #1C2A4D;
}

/* Mobile helpers */

@media (max-width: 767px) {
	.navbar-default {
		margin-top: 0;
		background-color: #1C2A4D;
		position: fixed;
		width: 100%;
	}
	.faceBlock{
		padding-top: 80px;
	}
}

@media (max-height: 519px) and (min-width: 832px){
	.navbar-default {
		margin-top: 0;
		background-color: #1C2A4D;
		position: fixed;
		width: 100%;
	}
	.faceBlock{
		padding-top: 80px;
		height: 520px;
		background-size: 100%, 520px;
	}
}

@media (max-height: 519px) and (max-width: 831px){
	.navbar-default {
		margin-top: 0;
		background-color: #1C2A4D;
		position: fixed;
		width: 100%;
	}
	.faceBlock{
		padding-top: 80px;
		height: 520px;
		background-size: 832px, 520px;
	}
}
